@use 'variables';

.balance-section {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;

  div {
    background-color: variables.$light-text;
    border: 3px solid variables.$dark-bg;
    border-radius: 8px;
    text-align: center;
    padding: 1rem 4rem;

    h2 {
      margin-bottom: 0.4rem;
    }
  }

  button {
    color: variables.$light-text;
    background-color: variables.$dark-bg;
    border: none;
    border-radius: 8px;
    padding: 1rem 3rem;
    font-size: 1.6rem;

    &:hover {
      background-color: variables.$button-bg-green;
      box-shadow: inset 0 0 0 2px variables.$light-text;
      color: variables.$dark-text;
    }
  }
}
